$mdc-theme-primary: #6200EE;
$mdc-theme-secondary: #03DAC5;
$mdc-typography-font-family: 'Open Sans';


@import '@material/button/mdc-button.scss';
@import '@material/card/mdc-card.scss';
@import '@material/checkbox/mdc-checkbox.scss';
@import '@material/dialog/mdc-dialog.scss';
@import '@material/drawer/mdc-drawer.scss';
@import '@material/fab/mdc-fab.scss';
@import '@material/floating-label/mdc-floating-label.scss';
@import '@material/form-field/mdc-form-field.scss';
@import '@material/icon-button/mdc-icon-button.scss';
@import '@material/layout-grid/mdc-layout-grid.scss';
@import '@material/line-ripple/mdc-line-ripple.scss';
@import '@material/linear-progress/mdc-linear-progress.scss';
@import '@material/list/mdc-list.scss';
@import '@material/menu-surface/mdc-menu-surface.scss';
@import '@material/menu/mdc-menu.scss';
@import '@material/notched-outline/mdc-notched-outline.scss';
@import '@material/radio/mdc-radio.scss';
@import '@material/ripple/mdc-ripple.scss';
@import '@material/select/mdc-select.scss';
@import '@material/textfield/mdc-text-field.scss';
@import '@material/theme/mdc-theme.scss';
@import '@material/top-app-bar/mdc-top-app-bar.scss';
@import '@material/typography/mdc-typography.scss';
@import '@material/switch/mdc-switch.scss';
@import '@material/tab-bar/mdc-tab-bar.scss';
@import '@material/tab/mdc-tab.scss';
@import '@material/tab-scroller/mdc-tab-scroller.scss';
@import '@material/tab-indicator/mdc-tab-indicator.scss';
@import '@material/toolbar/mdc-toolbar.scss';
@import '@rmwc/icon/icon';


html {
  font-family: 'Open Sans', sans-serif;
}

